:host{
  width: 100%;
  height: 100%;
}
.news-header, .options{
  margin-bottom: 1rem;
}
.news-header, .options, .news-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 800px) {
  .options{
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
}
